<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ParmakYarisiApiDbLayer.Properties.Settings._7Renk_ParmakYarisiConnectionString1"
            connectionString="Data Source=.;Initial Catalog=.;Persist Security Info=True;User ID=.;Password=."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>